.auth {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 81.4vh;
  padding: 1rem;
  text-align: center;
  background-color: #0a0a0a;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%); */
  clip-path: polygon(-400% 0%, 100% 0%, 113% 96%);
}

.auth1 {
  margin: 10rem auto;
  box-shadow: 0 1px 8px #fafcfc;
  box-shadow: 5px 6px 22px #fafcfc;
  width: 26rem;
  height: 18rem;
  border: 2px solid #10c5cb;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #0a0a0a;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
    color: #10c5cb;
    
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    margin-top: 20px;
    
}

.control input {
  display: block;
    width: 20rem;
    margin: auto;
    border-radius: 4px;
    padding: 0.5rem;
    border: 2px solid #ccc;
}

.btn{
  margin-top: 26px;

}
.btn button{
  font-size: 18px;
  cursor: pointer;
  background-color: #10c5cb;
  border: 3px solid #10c5cb;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  font-weight: 600;
}

.btn button:hover {
  background-color: white;
  color: #10c5cb;
}
