.profile {
    margin: 5rem 0rem 0rem 0rem;
    padding: 1rem;
    text-align: center;
    background-color: #f4f0fa;
  display: flex;
  }

  .auth {
    margin: 3rem 3rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 44rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f4f0fa;
  }

  .auth1 {
    margin: 3rem 3rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 44rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f4f0fa;
    overflow: hidden;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: #616161;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    /* margin-top: 0.9rem; */
  }
  
  .control input {
    display: block;
    width: 20rem;
    margin: auto;
    border-radius: 4px;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  .btn{
    margin: 0.5rem;
  }

  .ContactUsImg{
    width: 37rem;
    height: 26.2rem;
  }
  
  