/* .react-slideshow-container .default-nav {
    background: none;
    border: 0;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */