.product {
    margin: 2rem 0% -2rem 0%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: left;
    background-color: #fbfbfb;
}
.product1 {
    margin: 5rem 0% 2rem 0%;
    box-shadow: 0 18px 15px rgb(92 25 25 / 20%);
    width: 100%;
    padding: 1rem 4rem 2rem 4rem;
    text-align: left;
    background-color: #fbfbfb;
  }
.productCard{
    margin-top: 16px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);

    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    text-align: left;
    background-color: white;
}
.productBox{
    display: flex;
    justify-content: space-between;
}

.productBtnContainer{
    display: flex;
    gap: 20px;
  }

.btn1{
    margin: 0.5rem;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      display: inline;
      margin-top: 5px !important;
  }

.commonStyleWrapper{
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.commonStyle{
    width: 48.5%;
    padding: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0rem;
}
.commonStyle1{
    width: 32.5%;
    padding: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin-top: 0rem;
}

.productBoximg{
    margin-right: 0rem;
}

.productBoximg img{
    width: 100%;
    height: 232px;
}

.productBoxDescription p{
    text-align: justify;
    font-family: sans-serif;
}
.productTableContainer{
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid gray;
    margin: 0px 0%;
  }

  .admTable{
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;
    text-align: left;
}
.admtr{
    border: 2px solid gray;
}
.admth, .admtd{
    padding: 4px;
    border: 2px solid gray;
}





@media screen and (max-width: 1000px) {

    .productBox{
        display: block;
        
    }

    .commonStyleWrapper{
        width: 100%;
    }

    .commonStyle1{
        width: 100%;
        margin-top: 2%;
    }

    .product1 {
        padding: 1rem 1.5rem 2rem 1.5rem;

    }
}

@media screen and (max-width: 800px) {

    .product1 {
        padding: 0.05rem 1rem 2rem 1rem;

    }
    .commonStyleWrapper{
        display: block;
    }

    .commonStyle{
        width: 100%;
    }

    .admth, .admtd {
        padding: 4px;
        font-size: 15px;
    }

    .productBoxdetail{
        margin-top: 2%;
    }
    .productCard{
        padding: 0px;
    }

}

@media screen and (max-width: 600px) {

    .product1 {
        padding: 0.05rem 0.5rem 2rem 0.5rem;

    }
    .productBtnContainer{
        justify-content: center;
        font-size: 14px;
    }
    
.productCard{
    border: 2px solid darkgray
}

    .commonStyle1, .productBoxdetail{
      
        margin-top: 0%;
    }

    .admth, .admtd {
        font-size: 14px;
    }
}