.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c0080 !important;
  color: white;
  padding: 0 4%;
  position: fixed;
  top: 0px;
  z-index: 156652;
  
}

.header ul {
  display: flex;
  list-style: none;
  margin: 6px;
  padding: 0;
  align-items: center;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}
.header h1 a{
  font-size: 2.15rem;

}

.header h1 a:hover{
  color:white

}

.header a:hover,
.header a:active {
  color: #b864da;
}

.header button {
  font-size: 1.25rem;
  background-color: #ffbb00;
  border: 1px solid #ffbb00;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #2c2922;
}

.header button:hover,
.header button:active {
  background-color: #ffa600;
  border-color: #ffa600;
}
.activeClass{
  border-bottom: 2px solid #ffa600;

}

.toggelerContainer{
  display: none;
  background-color: white;
    padding-top: 3px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.spanline{
  display: block;
  width: 67%;
  height: 3px;
  background-color: black;
  margin: 5px auto;
}

.list2{
display: block; 
}
.headerBox{
  display: flex;
  gap: 10px;
}

.logoImg{
  width: 45px;
    height: 45px;
    margin-top: 5px;
}


@media screen and (max-width: 1000px) {

  .header h1 a{
    font-size: 1.4rem;
  
  }

  .header a {
    font-size: .90rem;
  }

}

@media screen and (max-width: 750px) {


  .header h1 a{
    font-size: 1.4rem;
  
  }

  .header a {
    font-size: .80rem;
  }

}

@media screen and (max-width: 600px) {

  .list {
    display: none;
  }
  .list2{
    display: block;
    top: 96px;
    position: absolute;
    background: white;
    width: 700px;
    margin: -1rem -1.5rem;
  }

  .logoImg{
    width: 34px;
      height: 34px;
      margin-top: 3px;
  }

  .header ul {
    display: block;
  }

  .header ul a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
  }

  .toggelerContainer{
    display: block;
  }

  .header li {
    margin: 1.2rem;
}


}


